{% extends 'admin_templates/dashbord.html' %}
{% block body %}
<form action="" method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <table class="table table-bordered" style="background-color: aliceblue;">
    <tr>
      <td>Restaurant Name </td>
      <td>
        <input type="text" name="rest_name" required  value="{{res.r_name}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        <input type="text" name="rest_location"required value="{{res.r_location}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>License Number </td>
      <td>
        <input type="text" name="rest_licnum" required value="{{res.license_number}}"class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>License Photo </td>
      <td>
        <input type="file" name="file1" value="{{res.license_photo}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>Restaurant Photo </td>
      <td>
        <input type="file" name="file2" value="{{res.r_photo}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>Mobile.no</td>
      <td>
        <input type="number" name="rest_mob"required value="{{res.r_mobile}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input type="email" name="rest_mail"required value="{{res.r_mail}}" class="form-control"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="Submit" value="Submit" class="btn btn-success" />
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}