{% extends 'customer_templates/dashbord.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table class="table table-bordered" style="background-color: aliceblue;">
<tr>
    <td><label>
      <textarea name="textarea"  required class="form-control"></textarea>
    </label></td>
  </tr>
  <tr>
    <td><label>
      <input type="submit" name="Submit" value="Submit" class="btn btn-success"/>
    </label></td>
  </tr>
</table>
</form>
{% endblock %}