<!DOCTYPE html PUBLIC>
<html >
<head>
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>Dish_Name</td>
      <td>Discription</td>
      <td>Restaurant_Name</td>
      <td>Quantity</td>
      <td>Status</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
