{% extends 'restuarant_templates/dashbord.html' %}
{% block body %}
<form action='' method="post" enctype="multipart/form-data" name="form1" id="form1">
  {% csrf_token %}
  <table class="table table-bordered" style="background-color: aliceblue;">
    <tr>
      <td>Dish</td>
      <td><label>
        <input type="text" name="textfield" value="{{res.d_name}}" class="form-control" required/>
      </label></td>
    </tr>
    <tr>
      <td>Discription</td>
      <td><label>
        <input type="text" name="textfield1" value="{{res.d_discription}}" class="form-control" required/>
      </label></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label>
        <input type="file" name="file"value="{{res.d_photo}}" class="form-control" required/>
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield2" value="{{res.d_price}}" class="form-control" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <input name="Submit" type="submit" id="Submit" value="Add" class="btn btn-success"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}