{% extends 'restuarant_templates/dashbord.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table class="table table-bordered" style="background-color: aliceblue;">
    <tr>
      <td>No Of Table </td>
      <td>
        <input type="text" name="textfield" class="form-control"  placeholder="enter renewal no.of.table" required />
      </td>
    </tr>
    <tr>
      <td>capacity</td>
      <td>
        <input type="text" name="textfield2" class="form-control" placeholder="enter renewal capacity" required />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="Submit" value="Add" class="btn btn-success" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}