{% extends 'restuarant_templates/dashbord.html' %}
{% block body %}
<form  method="post" action="password">
  {% csrf_token %}
  <table class="table table-bordered" style="background-color: aliceblue;">
    <tr>
      <td>Current Password </td>
      <td>
        <input type="text" name="textfield" required class="form-control"/>
      </td>
    </tr>
    <tr>
      <td>New Password</td>
      <td>
        <input type="password" name="textfield2" required class="form-control"/>
      </td>
    </tr>
    <tr>
        <td>Confirm Password</td>
        <td>
          <input type="password" name="textfield3" required class="form-control" onkeyup="return aa()"/>
        </td>
      </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="Submit" value="Submit" class="btn btn-success"/>
      </td>
    </tr>
  </table>
  <script>
  function aa() {


    var a=document.getElementById("textfield2").value;

    {alert(a);}
    var b=document.getElementById("textfield3").value;

    {alert(b)}
    if (a!=b)
    {
      alert("mismatch");
      document.getElementById("msg").innerHTML="Mismatch";
      return false;
    }
    else
      {
          document.getElementById("msg").innerHTML="";
          return true;
      }
  }

</script>
</form>
{% endblock %}