<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <a href="{% url  'dishes'   %}">Add Dishes</a><br><br>
    <a href="{% url  'view_dish'   %}">View Dishes</a><br><br>
    <a href="{% url  'add_offer'   %}">Add Offer</a><br><br>
    
    <a href="{% url  'view_offer'   %}">View offer</a><br><br>
    <a href="{% url  'add_table'   %}">Add Table</a><br><br>
    <a href="{% url  'view_table'   %}">View table</a><br><br> -->
    <!-- <a href="{% url  'view_dining_reservation'   %}">View dining rservation</a><br><br> -->
    <!-- <a href="{% url  'view_event_reservation'   %}">View event reservation</a><br><br> -->
    <!-- <a href="{% url  'viewfeed'   %}">View feedback</a><br><br> -->
    <a href="{% url  'transaction'   %}">View_Transaction</a><br><br>
    <a href="{% url  'view_order'   %}">View_Orders</a><br><br>
</body>
</html>